[user]
	email = elstoo@gmail.com
	name = stu blair
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
[core]
	editor = vim
